AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseColons: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Never

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: false

BinPackArguments: false
BinPackParameters: false

BitFieldColonSpacing: Both

BreakAdjacentStringLiterals: false
BreakAfterAttributes: Never
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: None
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: true
BreakFunctionDefinitionParameters: false
BreakStringLiterals: false
BreakBeforeBraces: Custom

BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false

IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: true

InsertBraces: false
InsertNewlineAtEOF: true

IntegerLiteralSeparator:
  Decimal: 0
  Binary: 0
  Hex: 0

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: [constexpr, static, inline, volatile, const, type]

ReflowComments: true

RemoveParentheses: Leave

SeparateDefinitionBlocks: Leave

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInParens: Never
SpacesInSquareBrackets: false

LineEnding: LF
ExperimentalAutoDetectBinPacking: false
DerivePointerAlignment: false
ColumnLimit: 250
UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 4
PPIndentWidth: 0
Language: Cpp # For C in reality.
MaxEmptyLinesToKeep: 2

Cpp11BracedListStyle: false

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
MainIncludeChar: Quote
IncludeCategories:
  - Regex: "^<.*>"
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
